@font-face {
    font-family: 'Poppins'; 
    src: url('Poppins/Poppins-Light.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppinss'; 
    src: url('Poppins/Poppins-Medium.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }
  
  body, html {
    flex: auto;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif; /* Apply default font family */
  }
  
  header {
    font-family: sans-serif;
    background-color: #004AAD;
    color: #004AAD; /* Adjusted text color for better contrast */
    padding: 0px 0;
    height: 130px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
    
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px; /* Adjust to move the logo upwards */
  }
  
  .logo img {
      margin-top: 30px;
      width: 200px; /* Adjust logo size */
      height: auto; /* Maintain aspect ratio */
      padding-left: 40px; 
  }
  
  nav ul {
      list-style-type: none;
      margin: 0;
      padding-top: 40px;
      text-align: center;
      font-size: 20px;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    position: relative;
  }
  
  nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #ffde59;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* Center the underline */
    transition: width 0.3s ease; /* Add transition effect for width */
  
  }
  
  nav ul li a:hover::after,
  nav ul li a.active::after  {
      width: 100%;
  }
  
  .content {
    padding-top: 100; /* Adjust according to header height */
    text-align: center;
  }
  

h1{
  
  display: block;
  position: relative;
  padding: 0px;
  padding-top: 2%;
  text-align: center;
  font-size: 50px;
  color: #004AAD;
  font-family: sans-serif;
}

/* Overlay*/
.home {
  position: relative;
  text-align: center;
}

.home img {
  width: 100%;
  height: auto;
}

.text-overlay {
  position: absolute;
  font-family: 'AlexBrush', sans-serif;
  font-size: 125px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
  
  /* Dropdown */
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #003f92f1;
    min-width: 160px;
    top: 100%;
    left: 0;
  }
  
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content span {
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.3s ease;
  }
  
  .dropdown:hover .dropdown-content span {
    transform: rotate(180deg);
  }
  
  .dropdown-content a:hover {
    background-color: #003f92f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/*Description*/
.description-container {
  width: 100%;
  text-align: center;
}

.description {
  display: flex;
  align-items: center;
  background-color: #e1eefff1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-top: 20%;
  padding-bottom: 20%;
}

.description2 {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-top: 20%;
  padding-bottom: 20%;
}


.description img {
  max-width: 30%;
  padding-left: 5%;
  padding-right: 2%; /* Add space between image and text */
}

.description h2 {
  font-size: xxx-large;
  font-family: sans-serif;
  text-align: left;
  color: #004AAD; /* Adjusted text color for better contrast */
  width: 100%;
}

.description p {
  font-family: sans-serif;
  text-align: left;
  color: 0000; /* Adjusted text color for better contrast */
  line-height: 1.5; /* Adjust the value to increase or decrease the line spacing */
  width: 85%;
}

.description-container {
  display: flex;
  justify-content: center;
}


.description2 div {
  flex: 1;
}

.description2 img {
  max-width: 30%;
  padding-left: 4%;
  padding-right: 5%; /* Add space between image and text */
}

.description2 h2 {
  padding-left: 10%;
  font-size: xxx-large;
  font-family: sans-serif;
  text-align: left;
  color: #004AAD; /* Adjusted text color for better contrast */
  margin: 0; /* Remove default margin */
}

.description2 p {
  padding-left: 10%;
  font-family: sans-serif;
  text-align: left;
  color: #000; /* Adjusted text color for better contrast */
  line-height: 1.5; /* Adjust the value to increase or decrease the line spacing */
  margin: 0; /* Remove default margin */
}

  footer {
    background-color: #004AAD;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  