@font-face {
    font-family: 'Poppins'; 
    src: url('Poppins/Poppins-Light.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppinss'; 
    src: url('Poppins/Poppins-Medium.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }
body{
  padding-top: 200px;
}
header {
    font-family: 'Poppins', sans-serif;
    background-color: #004AAD;
    color: #fff;
    padding: 10px 0;
    height: 120px;
    position: fixed;
    width: 100%;
    z-index: 2;  
    top: 0;
    }
  
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px; /* Adjust to move the logo upwards */
}
  
  .logo img {
    margin-top: 30px;
    width: 200px; /* Adjust logo size */
    height: auto; /* Maintain aspect ratio */
    padding-left: 40px;
}
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding-top: 40px;
    text-align: center;
    font-size: 20px;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    position: relative;
    transition: color 0.3 ease;
  }
  
  nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #ffde59;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* Center the underline */
    transition: width 0.3s ease; /* Add transition effect for width */
  }
  
  nav ul li a:hover::after {
    width: 100%;
  }

  nav ul li a:hover{
    color: #ffde59a4;
  }
  
  .content {
    padding-top: 160px; /* Adjust according to header height */
    text-align: center;
  }
  
  footer {
    background-color: #004AAD;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  /* Dropdown */
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #003f92f1;
    min-width: 160px; /* Adjust width as needed */
    top: 100%; /* Position dropdown below the text */
    left: 0; /* Align dropdown with the left edge of its parent */
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Style for the arrow symbol */
  .dropdown-content span {
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.3s ease; /* Add transition for smooth animation */
  }
  
  /* Rotate the arrow on hover */
  .dropdown:hover .dropdown-content span {
    transform: rotate(180deg);
  }
  
  .dropdown-content a:hover {
    background-color: #003f92f1;
  }
  
  /* Display dropdown content on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .slider{
    width: 940px;
    max-width: 940px;
    height: 788px;
    margin: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
    
}
.slider .list img{
    width: 940px;
    max-width: 940px;
    height: 788px;
    object-fit: cover;
    
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    color: #004AAD;
    display: flex;
    justify-content: space-between;
    
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0000007c;
    color: #ffffff;
    border: none;
    font-family: monospace;
    font-weight: bold;
    
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #242325c0;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
    
}
.slider .dots li.active{
    width: 30px;
    
}
@media screen and (max-width: 940px){
    .slider{
        height: 788px;
    }
}

.testimonials{
  text-align: justify;
  max-width: 900px;
  margin: auto;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(55, 12%, 62%, 0.425);
  border-radius: .5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #004AAD;

}